<table>
    <tr>
        <td>NO</td>
        <td>Nama Kegiatan</td>
        <td>Tanggal</td>
        <td>Jam</td>
        <td>Permintaan Dari</td>
        <td>Category</td>
        <td>Zoom Id</td>
        <td>Link</td>
        <td>Password</td>
        <td>Link Record</td>
        <td>Password Record</td>
        <td>Akun</td>
        <td>Dibuat</td>
    </tr>
            <tr>
        <td>1</td>
        <td>Kegiatan  Rapat Internal Virtual Inspektorat Wilayah II</td>
        <td>2022-03-01</td>
        <td>09:00-12:00</td>
        <td>ITWIL_II</td>
        <td>Rapat Internal</td>
        <td>81056148137</td>
        <td>https://us02web.zoom.us/j/81056148137?pwd=aWIwN0xPNWo2dlpCclRzSzh0c2JlUT09</td>
        <td>itjen2022</td>
        <td></td>
        <td></td>
        <td>Tommy</td>
        <td>2022-02-24 13:35:52</td>
    </tr>
                <tr>
        <td>2</td>
        <td>Entry Meeting Reviu LK hasil PMPRB Tahun 2022 pada Unit Eselon I Inspektorat Jenderal dan Balitbang Hukum dan HAM</td>
        <td>2022-03-01</td>
        <td>15:00-18:30</td>
        <td>ITWIL_I</td>
        <td>Rapat Internal</td>
        <td>89396062297</td>
        <td>https://us02web.zoom.us/j/89396062297?pwd=MEFkcTZ5QUpWQVZqQVFwck0wL1lVdz09</td>
        <td>PMPRB2022</td>
        <td></td>
        <td></td>
        <td>Rifaldy_A</td>
        <td>2022-02-28 15:59:37</td>
    </tr>
                <tr>
        <td>3</td>
        <td>Workshop Persiapan Pendampingan Manajemen Resiko pada Satuan Kerja di Lingkungan Kementerian Hukum dan HAM</td>
        <td>2022-03-01</td>
        <td>09:00-12:30</td>
        <td>ITWIL_III</td>
        <td>Acara Workshop</td>
        <td>87609579372</td>
        <td>https://us02web.zoom.us/j/87609579372?pwd=NEhBK3pGbkZqamN6MFY1MFNKOW55Zz09</td>
        <td>MR2022</td>
        <td></td>
        <td></td>
        <td>Utama</td>
        <td>2022-02-28 16:00:48</td>
    </tr>
                <tr>
        <td>4</td>
        <td>Workshop Teknik Penilaian Mandiri dan Penjaminan Kualitas Maturitas SPIP Terintegrasi Kementerian Hukum dan HAM</td>
        <td>2022-03-04</td>
        <td>09:00-13:30</td>
        <td>ITWIL_I</td>
        <td>Acara Workshop</td>
        <td>89764532875</td>
        <td>https://us02web.zoom.us/j/89764532875?pwd=MERXM2RidlZtcVBjTW9FejcwT25SZz09</td>
        <td>SPIP2022</td>
        <td></td>
        <td></td>
        <td>Utama</td>
        <td>2022-02-28 16:02:55</td>
    </tr>
                <tr>
        <td>5</td>
        <td>Kegiatan Program Aktif Belajar pada Inspektorat Jenderal</td>
        <td>2022-03-01</td>
        <td>13:30-16:00</td>
        <td>Kepegawaian</td>
        <td>Acara Gemar Belajar</td>
        <td>86350554855</td>
        <td>https://us02web.zoom.us/j/86350554855?pwd=SU1TcDI4cm5EbTdQZG1GM0kwbmRBdz09</td>
        <td>gemar2022</td>
        <td></td>
        <td></td>
        <td>Utama</td>
        <td>2022-02-28 16:04:48</td>
    </tr>
                <tr>
        <td>6</td>
        <td>Kegiatan Program Aktif Belajar pada Inspektorat Jenderal</td>
        <td>2022-03-02</td>
        <td>13:30-16:00</td>
        <td>Kepegawaian</td>
        <td>Acara Gemar Belajar</td>
        <td>86350554855</td>
        <td>https://us02web.zoom.us/j/86350554855?pwd=SU1TcDI4cm5EbTdQZG1GM0kwbmRBdz09</td>
        <td>gemar2022</td>
        <td></td>
        <td></td>
        <td>Utama</td>
        <td>2022-02-28 16:05:42</td>
    </tr>
                <tr>
        <td>7</td>
        <td>Kegiatan Pembahasan EvaluasiÂ SAKIPÂ 2021</td>
        <td>2022-03-04</td>
        <td>13:30-15:00</td>
        <td>ITWIL_V</td>
        <td>Rapat Internal</td>
        <td>84957381476</td>
        <td>https://us02web.zoom.us/j/84957381476?pwd=ZkZQN00wZXFoYzViZFFEYzVyTjFxZz09</td>
        <td>itjen2022</td>
        <td></td>
        <td></td>
        <td>Tommy</td>
        <td>2022-03-01 15:55:45</td>
    </tr>
                <tr>
        <td>8</td>
        <td>Persiapan Data Dukung Target Kinerja Inspektorat Jenderal Tahun 2022</td>
        <td>2022-03-02</td>
        <td>15:00-17:00</td>
        <td>PHP</td>
        <td>Acara Workshop</td>
        <td>87516135083</td>
        <td>https://us02web.zoom.us/j/87516135083?pwd=eWFwV2dIQStTb3dsL2FaeUJYYW14dz09</td>
        <td>itjen2022</td>
        <td></td>
        <td></td>
        <td>Rifaldy_B</td>
        <td>2022-03-01 16:03:56</td>
    </tr>
                <tr>
        <td>9</td>
        <td>Implementasi Peraturan Menteri Pemberdayaan Aparatur Negara dan Reformasi Birokrasi Nomor 17 Tahun 2021 tentang Penyetaraan Jabatan Administrasi ke dalam Jabatan Fungsional</td>
        <td>2022-03-02</td>
        <td>09:00-12:30</td>
        <td>Kepegawaian</td>
        <td>Acara Workshop</td>
        <td>89097382355</td>
        <td>https://us02web.zoom.us/j/89097382355?pwd=SjFCcG40V3NGYSthNnl6Y25YZGhodz09</td>
        <td>PAN-RB</td>
        <td></td>
        <td></td>
        <td>Utama</td>
        <td>2022-03-02 09:26:50</td>
    </tr>
                <tr>
        <td>10</td>
        <td>Pembahasan Hasil Audit Investigasi atas Dugaan Penyimpangan dan Penyalahgunaan Wewenang.</td>
        <td>2022-03-04</td>
        <td>08:00-10:00</td>
        <td>ITWIL_III</td>
        <td>Rapat Kordinasi</td>
        <td>88036708702</td>
        <td>https://us02web.zoom.us/j/88036708702?pwd=WkZSZVh6TVVaQXQ5Smx1WHYwR2Q1QT09</td>
        <td>itwil3</td>
        <td></td>
        <td></td>
        <td>Ari</td>
        <td>2022-03-03 19:12:14</td>
    </tr>
                <tr>
        <td>11</td>
        <td>Kegiatan Rapat Internal Inspektorat Wilayah II 7 Maret 2022</td>
        <td>2022-03-07</td>
        <td>13:00-15:00</td>
        <td>ITWIL_II</td>
        <td>Rapat Internal</td>
        <td>82438852365</td>
        <td>https://us02web.zoom.us/j/82438852365?pwd=bndvb2h6am9WWG9rMnQ2MFRCMEJQUT09</td>
        <td>itjen2022</td>
        <td></td>
        <td></td>
        <td>Tommy</td>
        <td>2022-03-07 09:03:15</td>
    </tr>
                <tr>
        <td>12</td>
        <td>Persiapan Evaluasi Wilayah Bebas dari Korupsi (WBK) dan  Wilayah Birokrasi Bersih dan Melayani (WBBM)</td>
        <td>2022-03-09</td>
        <td>09:00-16:00</td>
        <td>ITWIL_VI</td>
        <td>Acara Workshop</td>
        <td>81817028680</td>
        <td>https://us02web.zoom.us/meeting/tZUldu6orDMsEtQgKUCFJK0Oe6EandxygwWw/ics?icsToken=98tyKuGppjotGtadthGHRpwcGoj4KPTzplxdj7dsmzTQIAZ5SVPZM7RnM7x7CMHX</td>
        <td>WBK-WBBM</td>
        <td></td>
        <td></td>
        <td>Utama</td>
        <td>2022-03-07 15:38:09</td>
    </tr>
                <tr>
        <td>13</td>
        <td>Persiapan Evaluasi Wilayah Bebas dari Korupsi (WBK) dan Wilayah Birokrasi Bersih dan Melayani (WBBM)</td>
        <td>2022-03-10</td>
        <td>09:00-16:00</td>
        <td>ITWIL_VI</td>
        <td>Acara Workshop</td>
        <td>81817028680</td>
        <td>https://us02web.zoom.us/meeting/tZUldu6orDMsEtQgKUCFJK0Oe6EandxygwWw/ics?icsToken=98tyKuGppjotGtadthGHRpwcGoj4KPTzplxdj7dsmzTQIAZ5SVPZM7RnM7x7CMHX</td>
        <td>WBK-WBBM</td>
        <td></td>
        <td></td>
        <td>Utama</td>
        <td>2022-03-07 15:38:58</td>
    </tr>
                <tr>
        <td>14</td>
        <td>Perkenalan seluruh pegawai Sekretariat Inspektorat Jendera</td>
        <td>2022-03-09</td>
        <td>08:00-09:30</td>
        <td>Kepegawaian</td>
        <td>Acara Workshop</td>
        <td>81319399272</td>
        <td>https://us02web.zoom.us/j/85281729385?pwd=eHNya3pKUEdiZks5SUduUTF0R3Jpdz09</td>
        <td>itjen2022</td>
        <td></td>
        <td></td>
        <td>Tommy</td>
        <td>2022-03-09 09:51:23</td>
    </tr>
                <tr>
        <td>15</td>
        <td>Koordinasi Tim Reviu LK Hasil PMPRB Tahun 2022 pada Unit Eselon I Inspektorat Jenderal dan Balitbang Hukum dan HAM</td>
        <td>2022-03-10</td>
        <td>10:00-12:00</td>
        <td>ITWIL_I</td>
        <td>Rapat Internal</td>
        <td>83550866829</td>
        <td>https://us02web.zoom.us/j/83550866829?pwd=b1hidlFjeGRtUHJqUFJDbUZUcENtdz09</td>
        <td> itwil1</td>
        <td></td>
        <td></td>
        <td>Rifaldy_A</td>
        <td>2022-03-10 12:44:21</td>
    </tr>
                <tr>
        <td>16</td>
        <td>Rapat Rutin per Minggu Kinerja Inspektorat Jenderal Tahun 2022</td>
        <td>2022-03-14</td>
        <td>13:00-15:30</td>
        <td>PHP</td>
        <td>Rapat Kordinasi</td>
        <td>82675366976</td>
        <td>https://us02web.zoom.us/j/82675366976?pwd=OUsxVmpIQndZdVRNWFpXVWNydkMwUT09</td>
        <td>itjen2022</td>
        <td></td>
        <td></td>
        <td>Rifaldy_A</td>
        <td>2022-03-14 08:28:33</td>
    </tr>
                <tr>
        <td>17</td>
        <td>Reviu atas Rencana Penghapusan Bangunan Rumah Tahanan  Negara Kelas IIB Makale dan Penghapusan Bangunan Konstruksi Dalam  Pengerjaan (KDP) pada Kantor Rumah Tahanan Negara Kelas IIB Selayar</td>
        <td>2022-03-14</td>
        <td>13:00-15:30</td>
        <td>ITWIL_I</td>
        <td>Rapat Kordinasi</td>
        <td>88633128385</td>
        <td>https://us02web.zoom.us/j/88633128385?pwd=L0RoMUxkRVFFdGZjY1VHY3NpQ3l3QT09</td>
        <td>itjen2022</td>
        <td></td>
        <td></td>
        <td>Tommy</td>
        <td>2022-03-14 14:42:15</td>
    </tr>
                <tr>
        <td>18</td>
        <td>Persiapan Pelaksanaan Penyuluh Anti Korupsi</td>
        <td>2022-03-16</td>
        <td>09:00-12:30</td>
        <td>Kepegawaian</td>
        <td>Rapat Internal</td>
        <td>82777744902</td>
        <td>https://us02web.zoom.us/j/82777744902?pwd=VG4rNWZnK2JaUWFTanptOG93VFE2UT09</td>
        <td>PAK2022</td>
        <td></td>
        <td></td>
        <td>Rifaldy_A</td>
        <td>2022-03-15 10:02:48</td>
    </tr>
                <tr>
        <td>19</td>
        <td>Rapat Persiapan Pelaksanaan Peningkatan Kapabilitas APIP Menuju Level 4 di Lingkungan Inspektorat Jenderal Tahun 2022</td>
        <td>2022-03-24</td>
        <td>13:00-17:30</td>
        <td>Kepegawaian</td>
        <td>Rapat Internal</td>
        <td>86261352587</td>
        <td>https://us02web.zoom.us/j/86261352587?pwd=SHRGYjJDRWNLMk5UVDUzZVUrelQxZz09</td>
        <td>APIP2022</td>
        <td></td>
        <td></td>
        <td>Rifaldy_A</td>
        <td>2022-03-15 10:03:58</td>
    </tr>
                <tr>
        <td>20</td>
        <td>Kegiatan Sosialisasi Whistle Blowing System</td>
        <td>2022-03-18</td>
        <td>09:00-12:00</td>
        <td>Kepegawaian</td>
        <td>Rapat Kordinasi</td>
        <td>86005554768</td>
        <td>https://us02web.zoom.us/j/86005554768?pwd=b0piMERreCtUWEgyWFAvRklYcWVFQT09</td>
        <td>itjen2022</td>
        <td></td>
        <td></td>
        <td>Tommy</td>
        <td>2022-03-17 09:51:28</td>
    </tr>
                <tr>
        <td>21</td>
        <td>Rapat Rutin Per Minggu Kinerja Inspektorat Jenderal Tahun 2022</td>
        <td>2022-03-21</td>
        <td>09:00-12:00</td>
        <td>PHP</td>
        <td>Rapat Kordinasi</td>
        <td>87904197855</td>
        <td>https://us02web.zoom.us/j/87904197855?pwd=NFJHbmlFMGFjbHVVMzlPYzFQODE4Zz09</td>
        <td>itjen2022</td>
        <td></td>
        <td></td>
        <td>Utama</td>
        <td>2022-03-20 10:53:18</td>
    </tr>
                <tr>
        <td>22</td>
        <td>Penilaian Mandiri Pelaksanaan Reformasi Birokrasi (PMPRB) dalam Rangka Implementasi Peningkatan Nilai Indeks Reformasi dan Birokrasi Kementerian Hukum dan HAM</td>
        <td>2022-03-29</td>
        <td>09:30-13:30</td>
        <td>ITWIL_II</td>
        <td>Acara Workshop</td>
        <td>81701745715</td>
        <td>https://us02web.zoom.us/j/81701745715?pwd=bVNSakZEOWZiR3BmdTA5T0pqSzdYUT09</td>
        <td>PMPRB2022</td>
        <td></td>
        <td></td>
        <td>Utama</td>
        <td>2022-03-21 14:18:53</td>
    </tr>
                <tr>
        <td>23</td>
        <td>MONITORING DAN EVALUASI RENCANA KERJA TAHUNAN REFORMASI BIROKRASI B03 DAN INTERNALISASI RENCANA KERJA TAHUNAN REFORMASI BIROKRASI B06 TAHUN 2022</td>
        <td>2022-03-25</td>
        <td>09:00-12:30</td>
        <td>PHP</td>
        <td>Rapat Internal</td>
        <td>84051403327</td>
        <td>https://us02web.zoom.us/j/84051403327?pwd=ZG9wNWVzQUc4cm9zWHZLWHJIOGovUT09</td>
        <td>RB032022</td>
        <td></td>
        <td></td>
        <td>Rifaldy_A</td>
        <td>2022-03-22 16:41:26</td>
    </tr>
                <tr>
        <td>24</td>
        <td>Rapat Tim Benturan Kepentingan</td>
        <td>2022-03-24</td>
        <td>08:00-10:30</td>
        <td>Kepegawaian</td>
        <td>Rapat Internal</td>
        <td>85375711910</td>
        <td>https://us02web.zoom.us/j/85375711910?pwd=L0NHeXYvTkNMdFVVQkZkZjBWWHBoQT09</td>
        <td>itjen2022</td>
        <td></td>
        <td></td>
        <td>Rifaldy_A</td>
        <td>2022-03-23 12:48:44</td>
    </tr>
                <tr>
        <td>25</td>
        <td>Coaching and Mentoring Pimpinan Tinggi dalam Rangka Internalisasi Tata Nilai di Lingkungan Inspektorat Jenderal Kemenkumham</td>
        <td>2022-03-28</td>
        <td>09:00-12:00</td>
        <td>PHP</td>
        <td>Rapat Kordinasi</td>
        <td>83661154718</td>
        <td>https://us02web.zoom.us/j/83661154718?pwd=S0NZdnhEL0VSWGtHV0RvVFlqay9ZZz09</td>
        <td>836 6115 4718</td>
        <td></td>
        <td></td>
        <td>Utama</td>
        <td>2022-03-24 16:04:16</td>
    </tr>
                <tr>
        <td>26</td>
        <td>Pelaksanaan On Desk Pendampingan Penerapan Manajemen Risiko pada Kanim Pangkal pinang dan LPN Pangkal Pinang</td>
        <td>2022-03-25</td>
        <td>09:00-12:00</td>
        <td>ITWIL_IV</td>
        <td>Rapat Internal</td>
        <td>83661154718</td>
        <td>https://us02web.zoom.us/j/83661154718?pwd=S0NZdnhEL0VSWGtHV0RvVFlqay9ZZz09</td>
        <td>itjen2022</td>
        <td></td>
        <td></td>
        <td>Tommy</td>
        <td>2022-03-24 16:06:18</td>
    </tr>
            </table>